:root {
  --accent_color: #080;
  --font-family-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Global */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #0b0c0c;
}

main,
body {
  font-family: var(--font-family-main);
  font-size: 19px;
  line-height: 1.3157894737;
  font-weight: 400;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  display: block;
}

/* General */

a {
  text-decoration-thickness: max(1px, 0.05rem);
  text-underline-offset: 0.1578em;
}

a.disabled {
  pointer-events: none;
  color: #515151;
  text-decoration: line-through;
}

ul {
  list-style: none;
}

h1 {
  font-size: 36px;
  line-height: 1.1111111111;
  font-weight: 700;
  text-transform: none;
  margin-top: 1.25em;
  margin-bottom: 0.5555555556em;
}

h1 .heading-secondary {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding-top: 9px;
  padding-bottom: 6px;
  display: block;
  color: #6f777b;
}

.wrapper {
  margin: 0 auto;
  max-width: 630px;
}

#content {
  min-height: 300px;
  margin: 0 auto;
  padding-bottom: 60px;
  max-width: 630px;
}

/* Header Specific */

header {
  background-color: var(--accent_color);
  padding-top: 15px;
  margin-top: -1px;
  margin-bottom: -1px;
  padding-bottom: 15px;
  display: block
}

.header-title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  position: relative;
  overflow: visible;
  vertical-align: baseline;
  line-height: 34px;
  padding-left: 50px;
  text-decoration-line: none;
}

.header-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  height: 32px;
  background-image: url(assets/icon.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: -moz-inline-stack;
  display: inline-block
}

.header-subtitle {
  color: #fff;
  margin: 10px -5px 5px 50px;
}

/* Footer Specific */

#footer {
  border-top: 10px solid var(--accent_color);
  background-color: #dee0e2;
  padding-top: 30px;
  padding-bottom: 45px;
  display: block;
}

#footer .ul {
  margin-bottom: 30px;
}

#footer li {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 10px;
}