:root {
  --accent_color: #080;
  --font-family-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Global */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #0b0c0c;
}

main,
body {
  font-family: var(--font-family-main);
  font-size: 19px;
  line-height: 1.3157894737;
  font-weight: 400;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  display: block;
}

/* General */

a {
  color: #005ea5;
  text-decoration-thickness: max(1px, 0.05rem);
  text-underline-offset: 0.1578em;
}

a:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  box-decoration-break: clone;
  text-decoration: none;
  text-decoration-line: none;
}
a:hover {
  color: #003078;
  text-decoration-thickness: max(3px, 0.15rem);
  text-decoration-skip-ink: none;
  text-decoration-skip: none;
}

a.disabled {
  pointer-events: none;
  color: #515151;
  text-decoration: line-through;
}

ul {
  list-style: none;
}

h1 {
  font-size: 36px;
  line-height: 1.1111111111;
  font-weight: 700;
  text-transform: none;
  margin-top: 1.25em;
  margin-bottom: 0.5555555556em;
}

h1 .heading-secondary {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding-top: 9px;
  padding-bottom: 6px;
  display: block;
  color: #6f777b;
}

h1 .error {
  font-size: 36px;
  line-height: 1.1111111111;
  font-weight: 700;
  text-transform: none;
  margin-top: 1.25em;
  margin-bottom: 0.5555555556em;
}

h1 .error-message {
  font-size: 24px;
  line-height: 1.25;
  text-transform: none;
  padding-top: 9px;
  padding-bottom: 6px;
  display: block;
  color: #b10e1e;
  font-weight: bold;
}

h2 {
  line-height: 1.3157894737;
  font-weight: 700;
  text-transform: none;
}

.current-daily-petition {
  color: white;
  font-size: 24px;
  vertical-align: middle;
}

.petition-info {
  background-color:  #1d70b8;
  padding-bottom: 4px;
}

.signature-count .signature-count-progress progress[value]::-moz-progress-bar {
  background-color: var(--accent_color);
}

.signature-count .signature-count-progress progress[value] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  height: 10px;
  width: 100%;
  border: none;
}

.signature-count-goal {
  width: 30%;
  float: right;
  text-align: right;
  color: #6f777b;
  margin: 15px 0 -15px;
}

.view-petition {
  margin: 15px 0 -15px;
  float: left;
}

.signature-count-goal::after, .view-petition::after {
  content: "";
  display: block;
  clear: both;
}

details {
  margin: 15px 0;
  display: block;
}

details > summary {
  cursor: pointer;
  display: block;
  position: relative;
  width: fit-content;
  padding-left: 23px;
}

details[open] > summary::before {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-top-color: transparent;
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
  border-width: 12.124px 7px 0 7px;
  border-top-color: inherit;

}
details > summary::before {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  border-width: 7px 0 7px 12.124px;
  border-left-color: inherit;
  color: #005ea5;
  content: "";
  position: absolute;
  top: -1px;
  bottom: 0;
  left: 0;
  margin: auto;
}

details[open] > summary::before {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
    border-top-color: transparent;
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
  border-width: 12.124px 7px 0 7px;
  border-top-color: inherit;
}

details > summary .summary {
  color: #005ea5;
  text-decoration: underline;
    text-decoration-thickness: auto;
  text-decoration-thickness: max(1px, 0.05rem);
  text-underline-offset: 0.1578em;
}

.error {
  border-left: 5px solid #b10e1e;
  padding-left: 15px;
}

.button {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: auto;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 22px;
  padding: 8px 10px 7px;
  border: 2px solid transparent;
  border-radius: 0;
  color: #fff;
  background-color: #080;
  box-shadow: 0 2px 0 #003600;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  text-decoration: none;
}

.button-disabled {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: auto;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 22px;
  padding: 8px 10px 7px;
  border: 2px solid transparent;
  border-radius: 0;
  color: #fff;
  background-color: #888888;
  box-shadow: 0 2px 0 #363636;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  text-decoration: none;
}

.form-label {
  font-size: 19px;
  line-height: 1.3157894737;
  font-weight: 400;
  text-transform: none;
  display: block;
  color: #6f777b;
  padding-bottom: 2px;
  margin-bottom: 10px;
}

.form-control {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 27px;
  line-height: 1.3157894737;
  font-weight: 400;
  text-transform: none;
  width: 50%;
  padding: 5px 4px 4px;
  border: 2px solid #0b0c0c;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
  outline: 3px solid #ffdd00;
  box-shadow: inset 0 0 0 2px #0b0c0c;
}

.signature-count {
  margin: 0px 0px 12px 0px;
}

.signature-count-number {
  font-size: 48px;
}

.signature-guess-field {
  font-size: 27px;
  margin: 0px 0px 12px 0px;
}

.wrapper {
  margin: 0 auto;
  max-width: 630px;
}

.text {
  font-size: 27px;
}

#content {
  min-height: 300px;
  margin: 0 auto;
  padding-bottom: 60px;
  max-width: 630px;
}

/* Header Specific */

#header {
  background-color: var(--accent_color);
  padding-top: 15px;
  margin-top: -1px;
  margin-bottom: -1px;
  padding-bottom: 15px;
  display: block
}

#header a.proposition {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  position: relative;
  overflow: visible;
  vertical-align: baseline;
  line-height: 34px;
  padding-left: 50px;
  text-decoration-line: none;
}

#header a.proposition:hover {
  text-decoration-line: underline;
}

#header a.proposition:focus {
  color: #0b0c0c;
  text-decoration-line: none;
}

#header a.proposition::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  background-image: url(assets/icon.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: -moz-inline-stack;
  display: inline-block
}

#header a.proposition:focus::before {
  width: 32px;
  height: 32px;
  background-image: url(assets/icon_dark.png);
}

#header .header-subtitle {
  color: #fff;
  margin: 10px -5px 5px 50px;
}